.existapply {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.32);
}
.violet {
  background-color: var(--violet2);
}
.blue {
  background-color: var(--blue4);
}
.yellow {
  background-color: var(--yellow2);
}
.red1 {
  background-color: var(--red2);
}
.default {
  background-color: var(--red1);
}

.existapply .firstRow {
  justify-content: space-between;
}
.existapply .titleBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.existapply .title {
  color: #f9f9f9;
  font-size: 1.3rem;
  font-weight: 700;
}
.existapply .secondRow {
  display: flex;
  color: #f9f9f9;
  justify-content: space-between;
  margin-top: 20px;
}
.existapplyButton {
  background: transparent;
  border: none;
  border-radius: 20px;
  width: 60px;
  height: 60px;
}
.existapplyButton p {
  color: #f9f9f9;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 5px;
}
.existapply .thirdRow {
  display: flex;
  justify-content: space-between;
  color: #f9f9f9;
}

.existapply .subTitle {
  color: #f9f9f9;
  font-weight: 700;
  margin-bottom: 15px;
}
