.headerBox {
  position: fixed;
  width: 100%;
  max-width: 480px;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px 20px 10px 20px;
  top: 0;
  left: 0;
}

.titleBox {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}

.blank {
  width: 24px;
  height: 24px;
}

@media (min-width: 480px) {
  .headerBox {
    left: calc(50% - 240px);
  }
}
