.container {
  width: 100%;
  display: flex;
  gap: 10px;
}
.imageBox {
  display: flex;
  padding: 0 5px;
}
.imageBox img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.commentBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.commentHeader {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.name {
  font-weight: 700;
}
.date {
  font-size: 0.8rem;
  font-weight: 500;
}
.content {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2;
}
